#
# GIT Ignore
#
# * Version: 1.1.0
# * Template: 2.0.1
#

#
# Main
#

/build/*
/lib/*
/logs/*
/tmp/*
/vault/*
/.local.env
/.secrets.env

/.vscode

#
# Project specific exclusions
#

# IAC64 / Runtime
/var/prof/*/*/otf/
/var/prof/*/*/ans/

# Keep placeholder for empty directories
!/**/.gitkeep
